/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.center-text
  text-align: center

*
  font-family: Raleway,HelveticaNeue,Helvetica Neue,Helvetica,Arial,sans-serif !important

@import 'skeleton.styl'
@import 'navbar.styl'