/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */
@import 'skeleton.styl'
@import 'navbar.styl'

.home .hero img
  max-width 450px!important

.center-text
  text-align: center

.vuepress-toc
  padding-top: 150px !important

.blog-tags
  .blog-tag
    background-color: white;
    color: $accentColor;
    border-color: $accentColor;
    &:hover
      background-color: $accentColor;
      color: white !important;
      box-shadow: none;

*
  font-family: Raleway,HelveticaNeue,Helvetica Neue,Helvetica,Arial,sans-serif !important