/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = #1eaedb
$textColor = #2c3e50
$borderColor = rgba(0,0,0,.05)
$codeBgColor = #000
$arrowBgColor = #ccc

$footerBgColor = $darkTextColor
$footerColor = lighten($accentColor, 15);

$MQMobile = 880px;
$MQNarrow = 980px;

$contentWidth = 80%;
$homePageWidth = 90%;